<div id="container">Loading...</div>

<!DOCTYPE html>
<html>
  <head>
    <title>The Flophouse Recommends</title>
  </head>
  <body>
    <div id="container">
      <h1>The Flophouse Recommends</h1>
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <% @hosts.each do |host| %>
              <th><%= host.name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <%= render :partial => '/episodes/index', :collection => @episodes, :as => :episode %>
        </tbody>
      </table>
    </div>
  </body>
</html>
