    <section class='recommendation'>
      <p class='poster'>
        <%= link_to image_tag(movie.image, {alt: "#{movie.name} poster", width: '90%;'}), movie.url, {target: '_blank'} %>
      </p>
      <p class='title'>
        <%= link_to movie.name, movie.url, {target: '_blank'} %>
        <% if movie.badge %>
          <span class='small badge badge-success'>
            <%= link_to movie.badge[:label], eval(movie.badge[:url]) %>
          </span>
        <% end %>
      </p>
      <iframe frameborder="0" src="http://www.canistream.it/external/imdb/<%= movie.id %>?l=default" width="380" height="190" scrolling="no"></iframe>
    </section>
