<div class="row-fluid">
  <%= render "/shared/about" %>
  <div class="span9">
    <%= render(:partial => "movie", :collection => @movies, :as => :movie) || "No movies match your search" %>
  </div>
</div>

