<tr class="<%= cycle('odd','even') %>">
  <td>
    <%= episode.number %>
  </td>
  <% @hosts.each do |host| %>
  <td>
  <% recommendations = Recommendations.by_episode(episode).by_host(host).all%>
    <% recommendations.each do |recommendation| %>
      <% r = RecommendationDisplay.new(recommendation) %>
      <%= image_tag(r.image) %> <br />
      <%= r.name %><br />
    <% end %>
  </td>
<% end %>
</tr>
