<!DOCTYPE html>
<html>
  <head>
    <title>The Flop House Recommends</title>
  </head>
  <body>
    <div id="container">
      <h1>The Flop House Recommends</h1>
      <%= render :partial => "show" %>
    </div>
  </body>
</html>
