<% if @episode.has_recommendations? %>
  <% @episode.hosts.each do |host| %>
    <article class='host <%= cycle("span#{(12/@episode.hosts.count).round}","span#{(12/@episode.hosts.count).round}") %>'>
      <h1><%= link_to host.name, host_path(host.id) %></h1>
      <% host.recommendations.each do |recommendation| %>
        <%= render :partial => "/movies/poster_and_title", :locals => {movie: recommendation} %>
      <% end %>
    </article>
  <% end %>
<% else %>
    <article class='no_recommendations span12'>
      No recommendations for this episode.
    </article>
<% end %>
