/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#episode_navigation{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#episode_navigation li{
  float: left;
  margin: 0 .5em 0 0;
}

#episode_navigation a{
  text-decoration: none;
  text-align: center
}

#episode_navigation #current_episode a,
#episode_navigation #current_episode a::after{
  background: #aec48a;
  z-index: 3;
}

.host {
  height: 100%;
}

.host h1 {
  text-align: center;
  width: 95%;
  border-bottom: solid black 1px;
}

.recommendation {
  text-align: center;
}

.no_recommendations {
  width: 100%;
}

/*.odd {*/
  /*background-color: #B59A4D;*/
/*}*/

/*.even {*/
  /*background-color: #E8BC66;*/
/*}*/
