/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#episode_navigation{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#episode_navigation li{
  float: left;
  margin: 0 .5em 0 0;
}

#episode_navigation a{
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .7em 1.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  text-align: center
}

#episode_navigation a:hover,
#episode_navigation a:hover::after,
#episode_navigation a:focus,
#episode_navigation a:focus::after{
  background: #fff;
}

#episode_navigation a:focus{
  outline: 0;
}

#episode_navigation a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}

#episode_navigation #current_episode a,
#episode_navigation #current_episode a::after{
  background: #fff;
  z-index: 3;
}

.recommendation {
  height: 100%;
}

.odd {
  background-color: #011c26;
}

.even {
  background-color: #c0b18f;
}

